* {
    margin: 0;
    padding: 0;
}

.phone {
    width: 320px;
    height: 600px;
    border: 2px #000 solid;
    margin: 30px auto;
    border-radius: 30px;
    background-image: url(161431_89534_url.jpg);
    background-size: cover;
    position: relative;
}

.volum1 {
    width: 10px;
    height: 50px;
    position: absolute;
    left: -10px;
    top: 94px;
    background-color: black;
    border-radius: 10px;
}

.volum2 {
    width: 10px;
    height: 50px;
    position: absolute;
    left: -10px;
    top: 165px;
    background-color: black;
    border-radius: 10px;
}

.switch {
    width: 10px;
    height: 50px;
    position: absolute;
    left: 321px;
    top: 124px;
    background-color: black;
    border-radius: 10px;
}

.top {
    width: 240px;
    height: 30px;
    margin: 20px 63px;
}

.screen {
    width: 300px;
    height: 440px;
    background-image: url(timg.jpg);
    background-size: cover;
    margin: 10px auto;
}

.home {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 15px auto 20px;
}

.box {
    width: 150px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 13px;
    float: left;
    margin-top: 8px;
    margin-left: 5px;
}

.circle1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
    float: left;
    margin-top: 11px;
    margin-left: 10px;
}

.circle2 {
    width: 12px;
    height: 12px;
    background: pink;
    border-radius: 50%;
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}

.smallhome {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 4px;
}